* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  background-color: #0A0A23;
  color: white;
}
h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.display {
  margin: 0 auto;
  width: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 6px solid #F1BE32;
  border-radius: 5px;
  background-color: white;
  min-height: 500px;
}

.task-form {
  margin: 0 auto;
  padding: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5px;
}


#close-btn {
  cursor: pointer;
  border-style: none;
  background-color: inherit;
  align-self: self-end;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input [type], textarea {
  padding: 5px;
}

textarea {
  margin-bottom: 40px;
}

.large-btn {
  cursor: pointer;
  background-image: linear-gradient(180deg, #FECC4C, #FEAC32);
  width: 300px;
  margin: 0 auto;
  background-color: #FEAC32;
  border: 3px solid #FEAC32;
  border-bottom-color: #AA7321;
  border-right-color: #AA7321;
  font-size: 1.2rem;
}

.large-btn:hover {
  background-image: linear-gradient(180deg, #ffcc4c, #f89808);
}

.btn {
  cursor: pointer;
  background-image: linear-gradient(180deg, #FECC4C, #FEAC32);
  width: 100px;
  background-color: #FEAC32;
  border: 3px solid #FEAC32;
  border-bottom-color: #AA7321;
  border-right-color: #AA7321;
  font-size: 1rem;
}

.btn:hover {
  background-image: linear-gradient(180deg, #ffcc4c, #f89808);
}
dialog {
  border-radius: 10px;
  margin: 10px auto 0;
  width: 320px;
  height: 120px;
  padding: 5px;
}

dialog form {
  width: 90%;
  margin: 0 auto;
}

#confirm-close-dialog-btn-container {
  display: flex;
  justify-content: space-around;
}

.confirm-close-dialog-btn {
  background-image: linear-gradient(180deg, #FECC4C, #FEAC32);
  font-size: 1rem;
  font-weight: normal;
}

dialog p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.hidden {
  display: none;
}